*.in
*.out
*.txt
*.class
*.diff
*.me
*.sample

.DS_Store
.idea
.vscode

cmake-build-debug

/topcoder/SRM/**/*.html
/topcoder/SRM/**/*.sample
/topcoder/SRM/**/*.bak.0

/icpc/2016d/*
!/icpc/2016d/*.cpp
/icpc/2016p/*
!/icpc/2016p/*.cpp

testing_tool.py
interactive_runner.py
